@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
    background-color: #EEEFEA;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.calculadora {
    margin-top: 100px;
    background-color: #373735;
    border-radius: 20px;
    width: 440px;
    height: 550px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tela {
    width: 410px;
    height: 130px;
    border-radius: 10px;
    background-color: #1ebbd7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EEEFEA;
    font-weight: 600;
    font-size: 40px;

}

.painel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.botaoVerde {
    background-color: #5ae627;
    border: 0;
}

.botaoVerde:hover {
    background-color: #44ff00;
    /* Green */
    color: white;
}

.botaoVermelho {
    background-color: #ca1e1e;
    border: 0;
}

.botaoVermelho:hover {
    background-color: #e71515;
    /* Green */
    color: white;
}

.botaoAmarelo {
    background-color: #daa520;
    border: 0;
}

.botaoAmarelo:hover {
    background-color: #f4b71d;
    /* Green */
    color: white;
}

button {
    height: 60px;
    width: 85px;
    border-radius: 10px;
    border: 0;
    margin: 5px;
    color: white;
    font-size: large;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.botao {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
}

#zeroMaior {
    width: 195px;
}

.barra {
    display: flex;
    margin: auto;
    margin-top: 80px;
    justify-content: space-around;
    background-color: #f1f1f1;
    box-shadow: 8px 8px 20px #acacac, -5px -5px 10px white;
    border-radius: 30px;
}

.barra a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px #acacac, -5px -5px 10px white;
    font-size: 1.5em;
    color: black;
    text-decoration: none;
    margin: 10px;
    cursor: pointer;
}

.barra a:active {
    box-shadow: 5px 5px 10px #acacac inset, -5px -5px 10px white inset;
}

.barra a:hover {
    box-shadow: 5px 5px 10px #acacac inset, -5px -5px 10px white inset;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    background-color: #373735;
    border-radius: 20px;
    width: 600px;
    height: 600px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.foto img {
    border-radius: 50%;
    width: 200px;
    margin-top: -70px;
    border: 5px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.nome {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.nome h1 {
    text-shadow: 2px 2px 4px #000000;
}

.nome h3 {
    text-shadow: 2px 2px 4px #000000;
}

.clube {
    margin-top: 40px;
}

.clube img {
    width: 230px;
}

.icone {
    position: absolute;
}

.fotoIcone {
    position: relative;
    margin-top: -150px;
    margin-left: -98px;
    width: 10px;
}

.fotoIcone img {
    width: 210px;
}

.over {
    position: absolute;
    font-weight: 540;
    font-size: 49px;
    margin-top: -309px;
    margin-right: 180px;
    color: #7e621b;
    font-family: 'Roboto', sans-serif;
}

.posicao {
    position: absolute;
    font-weight: 500;
    font-size: x-large;
    margin-top: -240px;
    margin-right: 180px;
    color: #7e621b;
    font-family: 'Ubuntu', sans-serif;
}

.bandeira {
    position: absolute;
    font-weight: 600;
    font-size: x-large;
    margin-top: -160px;
    margin-right: 180px;
    color: #7e621b;
}

.bandeira img {
    width: 55px;
}

.patchIcon {
    position: absolute;
    margin-top: -30px;
    margin-right: 180px;
    color: #7e621b;
}

.patchIcon img {
    width: 55px;
}

.nomeIcon {
    position: absolute;
    font-weight: 700;
    font-size: 25px;
    margin-top: 100px;
    margin-right: 0px;
    color: #7e621b;
    font-family: 'Ubuntu', sans-serif;
}

.barraIcon {
    display: flex;
    margin: auto;
    margin-top: -120px;
    justify-content: space-around;
    background-color: #f1f1f1;
    box-shadow: 8px 8px 20px #acacac, -5px -5px 10px white;
    border-radius: 30px;
}

.barraIcon a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px #acacac, -5px -5px 10px white;
    font-size: 1.5em;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.barraIcon a:active {
    box-shadow: 5px 5px 10px #acacac inset, -5px -5px 10px white inset;
}

.barbarraIconra a:hover {
    box-shadow: 5px 5px 10px #acacac inset, -5px -5px 10px white inset;
}

#cardLogin {
    border-radius: 5px;
    background-color: #2f4255;
    width: 900px;
    height: 600px;
    display: flex;
    flex-direction: row;
    align-items: start;
    margin-top: 0px;
}

#cardDuplo {
    height: 600px;
    width: 520px;
    border-radius: 5px;
    margin-top: 0px;
    background-color: #103255;
    display: flex;
    justify-content: center;
}

#imagemLogin {
    height: 340px;
}

.login {
    height: 100%;
    width:380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.cadastrar {
    color: white;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 2px 4px #000000;
}
#botaoCadastro{
    height: 35px;
    width: 100px;
    background-color: #2f4255;
    border: 1px solid;
    border-radius: 20px;
    font-size: small;
}

#login{
    font-size:40px;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-right: 210px;
    margin-top: 70px;
    text-shadow: 2px 2px 4px #000000;
}
#usuario{
    margin-top: 30px;
    font-size:12px;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-right: 270px;
    text-shadow: 2px 2px 4px #000000;
}
#senha{
    margin-top: 30px;
    font-size:12px;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-right: 270px;
    text-shadow: 2px 2px 4px #000000;
}
#esquecer{
    font-size:11px;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-right: -190px;
    margin-top: 5px;
    text-shadow: 2px 2px 4px #000000;
}

#botaoEntrar{
    height: 39px;
    width: 100px;
    background-color: #2f4255;
    border: 1px solid;
    border-radius: 20px;
    font-size: small;
    margin-right: 215px;
}
input{
    border-radius: 10px;
    border: 0;
    height: 30px;
    width: 300px;
    margin-right: 10px;
    margin-top: -10px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px; 
    text-indent: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
input:focus {
    outline: none;
  }